In [553]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [554]:
data=pd.read_csv('zomato.csv',encoding='latin-1')

In [555]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [556]:
data.drop(['Restaurant ID','Is delivering now'],axis=1,inplace=True)

In [557]:
data[data['Restaurant Name']=='Cafe Coffee Day']

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
932,Cafe Coffee Day,1,Faridabad,"SCF 42, Shopping Centre, Main Huda Market, Sec...",Sector 15,"Sector 15, Faridabad",77.323611,28.395267,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.3,Orange,Average,67
1126,Cafe Coffee Day,1,Ghaziabad,"1st Floor, Shipra Mall, Gulmohar Road, Indirap...","Shipra Mall, Indirapuram","Shipra Mall, Indirapuram, Ghaziabad",77.370208,28.634047,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.2,Orange,Average,63
1283,Cafe Coffee Day,1,Gurgaon,"Upper Ground Floor, DLF Mega Mall, DLF Phase 1...","DLF Mega Mall, DLF Phase 1","DLF Mega Mall, DLF Phase 1, Gurgaon",77.093595,28.475489,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.6,Orange,Average,27
1340,Cafe Coffee Day,1,Gurgaon,"Cyber Green, Nathupur, DLF Phase 3, Gurgaon",DLF Phase 3,"DLF Phase 3, Gurgaon",77.093271,28.494578,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.1,Orange,Average,9
1341,Cafe Coffee Day,1,Gurgaon,"IBP Petrol Pump, Nathupur, DLF Phase 3, Gurgaon",DLF Phase 3,"DLF Phase 3, Gurgaon",77.091585,28.490350,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.2,Orange,Average,26
1532,Cafe Coffee Day,1,Gurgaon,"MG Road Metro Station, MG Road, Gurgaon",MG Road,"MG Road, Gurgaon",77.080235,28.479784,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.1,Orange,Average,20
1586,Cafe Coffee Day,1,Gurgaon,"23, Ground Floor, Ninex City Mart Mall, Sohna ...","Ninex City Mart Mall, Sohna Road","Ninex City Mart Mall, Sohna Road, Gurgaon",77.041289,28.416683,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.3,Orange,Average,34
1698,Cafe Coffee Day,1,Gurgaon,"F-13, Qutub Plaza, DLF Phase 1, Gurgaon","Qutab Plaza, DLF Phase 1","Qutab Plaza, DLF Phase 1, Gurgaon",77.101726,28.471807,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.8,Orange,Average,18
1726,Cafe Coffee Day,1,Gurgaon,"SCO 10, Vishal Mega Mart, Sector 14, Gurgaon",Sector 14,"Sector 14, Gurgaon",77.046327,28.477505,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.8,Orange,Average,34
1789,Cafe Coffee Day,1,Gurgaon,"B Block, IFFCO Colony, Sector 17, Gurgaon",Sector 17,"Sector 17, Gurgaon",0.000000,0.000000,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
1875,Cafe Coffee Day,1,Gurgaon,"SCO-24, Main Market, Sector 31, Gurgaon",Sector 31,"Sector 31, Gurgaon",77.050457,28.453236,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.1,Orange,Average,23
2203,Cafe Coffee Day,1,Gurgaon,"Infotech Center, Old Delhi Gurgaon Road, IDPL ...",Udyog Vihar,"Udyog Vihar, Gurgaon",0.000000,0.000000,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
2229,Cafe Coffee Day,1,Gurgaon,"Unitech Infospace, Sector 21, Gurgaon","Unitech Infospace, Sector 21, Gurgaon","Unitech Infospace, Sector 21, Gurgaon, Gurgaon",77.071511,28.509779,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.1,Orange,Average,10
2592,Cafe Coffee Day,1,New Delhi,"Nilgiri Market, Opposite Nilgiri Appartments, ...",Alaknanda,"Alaknanda, New Delhi",77.250146,28.528133,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.2,Orange,Average,23
2754,Cafe Coffee Day,1,New Delhi,"Shop D, Ground Floor, DCM Building, Barakhamba...",Barakhamba Road,"Barakhamba Road, New Delhi",77.225462,28.629818,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.9,Orange,Average,4
2768,Cafe Coffee Day,1,New Delhi,"14-A, Basant Lok Market, Vasant Vihar, New Delhi","Basant Lok Market, Vasant Vihar","Basant Lok Market, Vasant Vihar, New Delhi",77.164108,28.558603,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.2,Orange,Average,49
2802,Cafe Coffee Day,1,New Delhi,"1st Floor, BPCL Petrol Pump, Opposite Chanakya...",Chanakyapuri,"Chanakyapuri, New Delhi",77.190976,28.583433,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.0,Orange,Average,4
2953,Cafe Coffee Day,1,New Delhi,"K-1/14, Main Road, Chittaranjan Park, New Delhi",Chittaranjan Park,"Chittaranjan Park, New Delhi",77.253030,28.539373,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,1
2986,Cafe Coffee Day,1,New Delhi,"12, Community Centre, New Friends Colony, New ...","Community Centre, New Friends Colony","Community Centre, New Friends Colony, New Delhi",77.269265,28.562452,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.9,Orange,Average,10
3001,Cafe Coffee Day,1,New Delhi,"4, Rajiv Chowk, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",77.219813,28.632961,Cafe,450,Indian Rupees(Rs.),No,Yes,No,1,3.4,Orange,Average,277
3141,Cafe Coffee Day,1,New Delhi,"3631, Ground Floor, Hameed Manzil, Near Golcha...",Daryaganj,"Daryaganj, New Delhi",77.240291,28.644590,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.8,Orange,Average,22
3163,Cafe Coffee Day,1,New Delhi,"MBD House, Gulab Bhavan, 6 Bhadurshah Zafar Ma...",Daryaganj,"Daryaganj, New Delhi",0.000000,0.000000,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
3279,Cafe Coffee Day,1,New Delhi,"61, Ground Floor, Kingsway Camp, Mall Road, De...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.206386,28.698453,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.4,Orange,Average,46
3280,Cafe Coffee Day,1,New Delhi,"2526, Hudson Lane, Kingsway Camp, Near North C...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.204182,28.694710,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.2,Orange,Average,87
3422,Cafe Coffee Day,1,New Delhi,"Ground Floor, DLF City Centre Mall, Shalimar B...","DLF City Centre Mall, Shalimar Bagh","DLF City Centre Mall, Shalimar Bagh, New Delhi",77.158268,28.702936,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.0,Orange,Average,29
3466,Cafe Coffee Day,1,New Delhi,"6, Ground Floor Northside, Community Center, E...",East of Kailash,"East of Kailash, New Delhi",77.245962,28.558244,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.7,Orange,Average,24
3528,Cafe Coffee Day,1,New Delhi,"11/15, East Patel Nagar, New Delhi",East Patel Nagar,"East Patel Nagar, New Delhi",77.169652,28.644937,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.9,Orange,Average,38
3569,Cafe Coffee Day,1,New Delhi,"Epicuria Food Mall, Near Nehru Place Metro Sta...","Epicuria Food Mall, Nehru Place","Epicuria Food Mall, Nehru Place, New Delhi",77.251741,28.551441,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.1,Orange,Average,44
3775,Cafe Coffee Day,1,New Delhi,"E-12, DDA Market, Masjid Moth, Greater Kailash...",Greater Kailash (GK) 3,"Greater Kailash (GK) 3, New Delhi",77.236000,28.536981,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.2,Orange,Average,33
3782,Cafe Coffee Day,1,New Delhi,"HPCL Petrol Pump, Near IOC Office, Green Park,...",Green Park,"Green Park, New Delhi",77.206909,28.556972,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.0,Orange,Average,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6170,Cafe Coffee Day,1,New Delhi,"A3/320, Jwala Heri Market, Paschim Vihar, New ...",Paschim Vihar,"Paschim Vihar, New Delhi",77.102455,28.670042,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.3,Orange,Average,40
6430,Cafe Coffee Day,1,New Delhi,"Shop 6, 1st Floor, Near Kotak Mahindra Bank, C...",Punjabi Bagh,"Punjabi Bagh, New Delhi",77.126039,28.666214,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.6,Yellow,Good,58
6465,Cafe Coffee Day,1,New Delhi,"B-33-34, Gate 1, Rockland Hospital, Tara Cresc...",Qutab Institutional Area,"Qutab Institutional Area, New Delhi",77.181133,28.537381,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
6523,Cafe Coffee Day,1,New Delhi,"Delhi Gymkhana Club, Golf Links, Race Course R...",Race Course,"Race Course, New Delhi",77.205892,28.599082,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.9,Orange,Average,9
6547,Cafe Coffee Day,1,New Delhi,"Main Shankar Road, Rajinder Nagar, New Delhi",Rajinder Nagar,"Rajinder Nagar, New Delhi",77.180293,28.638366,Cafe,450,Indian Rupees(Rs.),No,Yes,No,1,2.9,Orange,Average,37
6781,Cafe Coffee Day,1,New Delhi,"Near Kamal Cinema, Safdarjung Enclave, New Del...",Safdarjung,"Safdarjung, New Delhi",77.199075,28.565406,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.8,Orange,Average,16
6842,Cafe Coffee Day,1,New Delhi,"B6/6, Commercial Complex, Safdarjung Enclave, ...",Safdarjung,"Safdarjung, New Delhi",77.196007,28.558909,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.4,Red,Poor,28
6974,Cafe Coffee Day,1,New Delhi,"13, South Campus, Satyaniketan, New Delhi",Satyaniketan,"Satyaniketan, New Delhi",77.168827,28.588440,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.3,Orange,Average,78
7210,Cafe Coffee Day,1,New Delhi,"District Centre, B2, NDM 1, Shakarpur, New Delhi",Shakarpur,"Shakarpur, New Delhi",77.281379,28.632911,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
7237,Cafe Coffee Day,1,New Delhi,"Inside MAX Hospital, FC-50, C & D Block, Shali...",Shalimar Bagh,"Shalimar Bagh, New Delhi",0.000000,0.000000,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.1,Orange,Average,5
7275,Cafe Coffee Day,1,New Delhi,"Ground Floor, Fortis Hospital, Shalimar Bagh, ...",Shalimar Bagh,"Shalimar Bagh, New Delhi",77.169815,28.709014,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,1
7300,Cafe Coffee Day,1,New Delhi,"1, DDA Market, Satyaniketan, New Delhi",Shanti Niketan Marg,"Shanti Niketan Marg, New Delhi",77.168602,28.577082,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.4,Orange,Average,29
7322,Cafe Coffee Day,1,New Delhi,"16, 1st Floor, Main Market, South Extension 2,...",South Extension 2,"South Extension 2, New Delhi",77.219543,28.568144,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.4,Orange,Average,31
7369,Cafe Coffee Day,1,New Delhi,"Ground Floor, Star City Mall, Mayur Vihar Phas...","Star City Mall, Mayur Vihar Phase 1","Star City Mall, Mayur Vihar Phase 1, New Delhi",77.296145,28.592512,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.7,Orange,Average,29
7681,Cafe Coffee Day,1,New Delhi,"12, Ground Floor, V3S Mall, Laxmi Nagar, New D...","V3S Mall, Laxmi Nagar","V3S Mall, Laxmi Nagar, New Delhi",77.286944,28.637318,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.6,Orange,Average,33
7764,Cafe Coffee Day,1,New Delhi,"61, Inside PVR Community Centre, Basant Lok, V...",Vasant Vihar,"Vasant Vihar, New Delhi",77.164426,28.557365,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,2
7875,Cafe Coffee Day,1,New Delhi,"C 9, New Krishna Park, Vikaspuri, New Delhi",Vikaspuri,"Vikaspuri, New Delhi",77.076458,28.629418,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.0,Orange,Average,16
8093,Cafe Coffee Day,1,Noida,"1st Floor, Gardens Galleria, Sector 38, Noida","Gardens Galleria, Sector 38 Noida","Gardens Galleria, Sector 38 Noida, Noida",77.321718,28.564749,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,3
8106,Cafe Coffee Day,1,Noida,"Tradex Tower 2, Alpha Commercial Belt, Alpha 1...",Greater Noida,"Greater Noida, Noida",77.514421,28.472364,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.8,Orange,Average,24
8328,Cafe Coffee Day,1,Noida,"Unitech Infospace, Sector 135, Near Sector 132...",Sector 132,"Sector 132, Noida",77.403896,28.499566,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,3
8329,Cafe Coffee Day,1,Noida,"B-36, Block A, Express Trade Tower 2, Noida-Gr...",Sector 132,"Sector 132, Noida",77.377800,28.513708,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
8390,Cafe Coffee Day,1,Noida,"IT Towers, Plot 24, Sector 16-A, Near Sector 1...",Sector 16,"Sector 16, Noida",0.000000,0.000000,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,2
8432,Cafe Coffee Day,1,Noida,"G-54, Sector 18, Noida",Sector 18,"Sector 18, Noida",77.323980,28.569665,Cafe,450,Indian Rupees(Rs.),No,Yes,No,1,3.6,Yellow,Good,125
8724,Cafe Coffee Day,1,Noida,"Shop B-1-23, Sector 50, Noida",Sector 50,"Sector 50, Noida",77.361918,28.570513,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.7,Orange,Average,42
8845,Cafe Coffee Day,1,Noida,"Brookfield Infosapce, Sector 61, Noida",Sector 61,"Sector 61, Noida",0.000000,0.000000,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
8852,Cafe Coffee Day,1,Noida,"SG-14-15, C-25, Stellar IT Park, Sector 62, Noida",Sector 62,"Sector 62, Noida",77.362545,28.612800,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.0,Orange,Average,26
8853,Cafe Coffee Day,1,Noida,"Ground Floor, Logix Cyber Park, Tower B, Secto...",Sector 62,"Sector 62, Noida",77.366672,28.612740,Cafe,450,Indian Rupees(Rs.),No,No,No,1,3.0,Orange,Average,14
8897,Cafe Coffee Day,1,Noida,"Ground Floor, OPD Block, Fortis Hospital, B-22...",Sector 62,"Sector 62, Noida",77.372395,28.618099,Cafe,450,Indian Rupees(Rs.),No,No,No,1,0.0,White,Not rated,0
9073,Cafe Coffee Day,1,Noida,"2nd Floor, Shoppers Stop, The Great India Plac...","The Great India Place, Sector 38","The Great India Place, Sector 38, Noida",77.326295,28.567871,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.7,Orange,Average,18
9074,Cafe Coffee Day,1,Noida,"Shop 111, 1st Floor, The Great India Place Mal...","The Great India Place, Sector 38","The Great India Place, Sector 38, Noida",77.326026,28.567666,Cafe,450,Indian Rupees(Rs.),No,No,No,1,2.7,Orange,Average,34

In [558]:
data.groupby('Cuisines').get_group('Cafe').groupby('Restaurant Name').mean()['Average Cost for two'].sort_values(ascending=False)

Restaurant Name
Emperor's Lounge - The Taj Mahal Hotel             2500.0
Lord William Tea Lounge - Hotel The Royal Plaza    2500.0
Citrus Cafe - Lemon Tree Hotel                     2000.0
Longitude - Le Meridien                            2000.0
Tea Lounge - Eros Hotel                            1800.0
Tea Lounge - The Ashok                             1600.0
Le Petit Cafe - The Lalit New Delhi                1600.0
TcozY                                              1500.0
Gallery Caf - Hyatt Place                        1500.0
Coffee Shop - Centaur Hotel                        1500.0
The Tea Lounge - Taj Palace Hotel                  1500.0
Cafe Sante                                         1100.0
Greenr Cafe                                        1100.0
Cafe Red                                           1100.0
Eywa by Saby @ Celeste                             1000.0
R The Lounge - Radisson Blu Plaza Delhi            1000.0
Cafe Culture                                       1000.0
Viceroy - The Coffee Shop                          1000.0
The Cafe                                           1000.0
Hearken Caf                                       900.0
Hamoni Red: Play Cafe                               900.0
Tea Lounge - Jaypee Greens                          900.0
Tea Trails                                          850.0
The Riding Guns Cafe                                850.0
Old Town Cafe                                       800.0
Paddy's Cafe                                        800.0
Mocha                                               800.0
Coalition Cafe                                      800.0
Cafe Al Fresco by Cantina Bodega                    800.0
The Coffee Garage                                   800.0
                                                    ...
The Chaiwalas                                       300.0
The Chai Story                                      300.0
Serendipity Cafe                                    300.0
Sadda Adda 2 Cafe & Lounge                          300.0
Chai Thela                                          250.0
Papa Buns                                           250.0
Freakin Beans                                       250.0
Hide Out The Street Cafe                            250.0
Chill House Kafe                                    250.0
Kunzum Travel Cafe                                  200.0
The Whippet                                         200.0
Truth Coffee                                        150.0
Chai Tapri                                          150.0
Mogli's Coffee                                      150.0
The Coffee Club                                     140.0
Crafted Blends                                      110.0
The Bigos                                            80.0
Timboo Cafe                                          70.0
Walter's Coffee Roastery                             55.0
Winona Forever                                       50.0
Caffe L'affare                                       50.0
The Hangar                                           50.0
Little Sister Cafe                                   45.0
Midnight Espresso                                    40.0
Chye Seng Huat Hardware                              40.0
Dem Karak_y                                         35.0
The Elephant House                                   30.0
Caf Daniel Briand                                  30.0
The Belle General                                    20.0
Mr.                                                  20.0
Name: Average Cost for two, Length: 137, dtype: float64

In [559]:
data.drop('Restaurant Name',axis=1,inplace=True)

In [560]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 18 columns):
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(4), object(11)
memory usage: 1.3+ MB

In [561]:
data.shape

(9551, 18)

In [562]:
data=data[data['Country Code']==1]

In [563]:
data.shape

(8652, 18)

In [564]:
data.drop(['Country Code','Currency'],axis=1,inplace=True)

In [565]:
data['City'].value_counts().head(4)

New Delhi    5473
Gurgaon      1118
Noida        1080
Faridabad     251
Name: City, dtype: int64

In [566]:
city=['New Delhi','Gurgaon','Noida','Faridabad']

In [567]:
data=data[data['City'].isin(city)]

In [568]:
data.shape

(7922, 16)

In [569]:
data.replace({'New Delhi':0,'Gurgaon':1,'Noida':2,'Faridabad':3},inplace=True)

In [570]:
data['City'].value_counts()

0    5473
1    1118
2    1080
3     251
Name: City, dtype: int64

In [571]:
data.drop(['Address','Locality','Locality Verbose'],axis=1,inplace=True)

In [572]:
data['Cuisines'].value_counts()

North Indian                                                        901
North Indian, Chinese                                               474
Fast Food                                                           330
Chinese                                                             323
North Indian, Mughlai                                               313
Cafe                                                                251
Bakery                                                              212
North Indian, Mughlai, Chinese                                      194
Bakery, Desserts                                                    168
Street Food                                                         145
Pizza, Fast Food                                                    126
Chinese, Fast Food                                                  117
Mithai, Street Food                                                 116
Bakery, Fast Food                                                   107
South Indian                                                        103
Chinese, North Indian                                                99
Mughlai                                                              99
Ice Cream, Desserts                                                  81
Ice Cream                                                            72
Mithai                                                               70
North Indian, Chinese, Mughlai                                       68
North Indian, Chinese, Fast Food                                     66
North Indian, Fast Food                                              66
Bakery, Desserts, Fast Food                                          62
American, Fast Food, Salad, Healthy Food                             62
Mughlai, North Indian                                                57
Biryani                                                              54
Fast Food, Burger                                                    52
North Indian, Chinese, Continental                                   52
Beverages                                                            52
                                                                   ...
Cafe, Continental, Italian, Pizza                                     1
North Indian, Italian, Chinese, Thai                                  1
Asian, Japanese, Korean, Thai, Chinese                                1
Cafe, North Indian, Italian                                           1
Burger, Fast Food, Chinese, Bakery                                    1
Desserts, Fast Food, Chinese                                          1
Continental, Lebanese, Mexican                                        1
Biryani, Mughlai, Bengali, North Indian                               1
American, Continental, Burger                                         1
Biryani, Pizza, Fast Food, Healthy Food                               1
North Indian, Chinese, Thai, Italian, Middle Eastern                  1
Mexican, Italian, Fast Food                                           1
Finger Food, North Indian, Continental, Italian                       1
Continental, Italian, American, North Indian                          1
Continental, American, Italian, Bakery                                1
Street Food, North Indian, Chinese, Continental                       1
American, European                                                    1
North Indian, South Indian, Continental, Fast Food                    1
Continental, North Indian, Italian, Chinese                           1
Burger, Pizza, Fast Food                                              1
Bakery, Desserts, Fast Food, Street Food, Chinese, Beverages          1
Cafe, Street Food                                                     1
Mithai, South Indian, Chinese, Street Food, North Indian              1
Cafe, North Indian                                                    1
Mithai, North Indian, South Indian, Street Food, Chinese              1
North Indian, European, Continental                                   1
Cafe, Italian, North Indian                                           1
Mithai, North Indian, Street Food, Chinese, South Indian, Indian      1
Street Food, South Indian, Chinese                                    1
North Indian, Biryani, Fast Food                                      1
Name: Cuisines, Length: 1156, dtype: int64

In [573]:
x=data.groupby('Cuisines').mean()['Average Cost for two'].reset_index()

In [574]:
data=data.merge(x,on='Cuisines')

In [575]:
data.drop('Cuisines',axis=1,inplace=True)

In [576]:
data.rename(columns={'Average Cost for two_y':'Cuisines'},inplace=True)

In [577]:
data['Has Table booking'].replace({'No':0,'Yes':1},inplace=True)

In [578]:
data['Has Online delivery'].replace({'No':0,'Yes':1},inplace=True)

In [579]:
data.drop('Switch to order menu',axis=1,inplace=True)

In [580]:
data['Rating text']=data['Rating text'].astype('category')

In [581]:
data['Rating color']=data['Rating color'].astype('category')

In [582]:
data.corr()['Average Cost for two_x']

City                     -0.029736
Longitude                 0.071752
Latitude                  0.070993
Average Cost for two_x    1.000000
Has Table booking         0.642966
Has Online delivery       0.076953
Price range               0.847985
Aggregate rating          0.328440
Votes                     0.299089
Cuisines                  0.808274
Name: Average Cost for two_x, dtype: float64

In [584]:
data.drop(['Rating color','Has Online delivery'],axis=1,inplace=True)

In [585]:
data

,City,Longitude,Latitude,Average Cost for two_x,Has Table booking,Price range,Aggregate rating,Rating text,Votes,Cuisines
0,3,77.306640,28.490059,250,0,1,2.9,Average,4,375.000000
1,0,77.049525,28.806199,500,0,2,0.0,Not rated,0,375.000000
2,3,77.304776,28.490157,500,0,2,2.8,Average,16,594.303797
3,3,0.000000,0.000000,300,0,1,0.0,Not rated,0,594.303797
4,3,77.305698,28.471985,1200,1,3,0.0,Not rated,0,594.303797
5,3,77.292278,28.398268,400,0,1,0.0,Not rated,0,594.303797
6,3,77.329161,28.375486,450,0,1,2.8,Average,20,594.303797
7,3,77.328898,28.377754,700,1,2,2.9,Average,13,594.303797
8,3,77.318483,28.371951,450,0,1,2.6,Average,26,594.303797
9,3,77.314446,28.381192,550,0,2,0.0,Not rated,0,594.303797
10,3,0.000000,0.000000,400,0,1,0.0,Not rated,0,594.303797
11,3,77.322930,28.395009,600,0,2,3.2,Average,31,594.303797
12,3,77.318577,28.410708,400,0,1,0.0,Not rated,0,594.303797
13,3,77.328898,28.410603,600,0,2,2.7,Average,56,594.303797
14,3,77.313820,28.417529,200,0,1,3.0,Average,6,594.303797
15,3,77.315951,28.454997,300,0,1,0.0,Not rated,1,594.303797
16,3,77.310500,28.480467,1000,1,3,2.7,Average,70,594.303797
17,3,77.311397,28.480552,300,0,1,2.9,Average,14,594.303797
18,3,77.311487,28.480829,300,0,1,0.0,Not rated,0,594.303797
19,3,77.305606,28.480730,500,0,2,0.0,Not rated,0,594.303797
20,3,0.000000,0.000000,600,0,2,0.0,Not rated,0,594.303797
21,3,0.000000,0.000000,300,0,1,0.0,Not rated,0,594.303797
22,3,77.325997,28.363899,250,0,1,3.0,Average,7,594.303797
23,3,77.328539,28.368654,500,0,2,3.0,Average,4,594.303797
24,3,77.336451,28.408678,650,0,2,3.2,Average,24,594.303797
25,3,77.342313,28.412268,500,0,2,2.9,Average,8,594.303797
26,3,77.336292,28.410219,500,0,2,3.2,Average,39,594.303797
27,3,77.293759,28.498215,500,0,2,2.8,Average,13,594.303797
28,3,77.293041,28.499223,600,0,2,3.1,Average,18,594.303797
29,1,77.078058,28.432548,300,0,1,0.0,Not rated,2,594.303797
...,...,...,...,...,...,...,...,...,...,...
7892,2,77.361828,28.569250,500,0,2,0.0,Not rated,3,500.000000
7893,2,77.360975,28.561503,600,0,2,0.0,Not rated,2,600.000000
7894,2,77.362094,28.569279,500,0,2,4.1,Very Good,43,500.000000
7895,2,0.000000,0.000000,500,0,2,3.0,Average,4,500.000000
7896,2,77.361977,28.570281,400,0,1,3.1,Average,10,400.000000
7897,2,77.362309,28.570602,550,0,2,3.2,Average,48,550.000000
7898,2,77.369364,28.578298,600,0,2,3.7,Good,142,600.000000
7899,2,0.000000,0.000000,300,0,1,0.0,Not rated,2,300.000000
7900,2,77.374547,28.581684,100,0,1,0.0,Not rated,1,100.000000
7901,2,0.000000,0.000000,500,0,2,0.0,Not rated,0,500.000000
7902,2,77.366121,28.581868,550,0,2,0.0,Not rated,2,550.000000
7903,2,77.362594,28.595375,600,0,2,2.9,Average,25,600.000000
7904,2,77.365506,28.591384,500,0,2,3.8,Good,200,500.000000
7905,2,77.362456,28.612791,500,0,2,2.4,Poor,77,500.000000
7906,2,0.000000,0.000000,500,0,2,0.0,Not rated,0,500.000000
7907,2,77.382379,28.564510,400,0,1,2.9,Average,4,400.000000
7908,2,77.381327,28.566393,350,0,1,3.3,Average,12,350.000000
7909,2,77.392072,28.571730,500,0,2,3.1,Average,6,500.000000
7910,2,77.380397,28.589199,250,0,1,0.0,Not rated,0,250.000000
7911,2,77.400003,28.588073,500,0,2,0.0,Not rated,0,500.000000
7912,2,77.334697,28.541939,500,0,2,0.0,Not rated,0,500.000000
7913,2,77.380418,28.571616,600,0,2,0.0,Not rated,3,600.000000
7914,2,77.385331,28.514600,200,0,1,3.4,Average,23,200.000000
7915,2,77.341371,28.586239,1300,0,3,3.9,Good,1088,1300.000000
7916,2,77.337325,28.583579,500,0,2,0.0,Not rated,2,500.000000
7917,2,77.341021,28.585493,2500,1,4,2.2,Poor,116,2500.000000
7918,2,77.364833,28.597103,200,0,1,3.0,Average,10,200.000000
7919,2,77.364833,28.597103,450,0,1,3.5,Good,105,450.000000
7920,2,77.323213,28.567751,1000,1,3,0.0,Not rated,0,1000.000000
7921,2,77.325308,28.567150,450,0,1,2.0,Poor,161,450.000000

In [586]:
y=data.iloc[:,3].values

In [588]:
y.shape

(7922,)

In [590]:
dataX=data.drop('Average Cost for two_x',axis=1)

In [592]:
X=dataX.iloc[:,:].values

In [593]:
X.shape

(7922, 9)

In [595]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [596]:
X[:,6]=encoder.fit_transform(X[:,6])

In [600]:
dataX

,City,Longitude,Latitude,Has Table booking,Price range,Aggregate rating,Rating text,Votes,Cuisines
0,3,77.306640,28.490059,0,1,2.9,Average,4,375.000000
1,0,77.049525,28.806199,0,2,0.0,Not rated,0,375.000000
2,3,77.304776,28.490157,0,2,2.8,Average,16,594.303797
3,3,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
4,3,77.305698,28.471985,1,3,0.0,Not rated,0,594.303797
5,3,77.292278,28.398268,0,1,0.0,Not rated,0,594.303797
6,3,77.329161,28.375486,0,1,2.8,Average,20,594.303797
7,3,77.328898,28.377754,1,2,2.9,Average,13,594.303797
8,3,77.318483,28.371951,0,1,2.6,Average,26,594.303797
9,3,77.314446,28.381192,0,2,0.0,Not rated,0,594.303797
10,3,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
11,3,77.322930,28.395009,0,2,3.2,Average,31,594.303797
12,3,77.318577,28.410708,0,1,0.0,Not rated,0,594.303797
13,3,77.328898,28.410603,0,2,2.7,Average,56,594.303797
14,3,77.313820,28.417529,0,1,3.0,Average,6,594.303797
15,3,77.315951,28.454997,0,1,0.0,Not rated,1,594.303797
16,3,77.310500,28.480467,1,3,2.7,Average,70,594.303797
17,3,77.311397,28.480552,0,1,2.9,Average,14,594.303797
18,3,77.311487,28.480829,0,1,0.0,Not rated,0,594.303797
19,3,77.305606,28.480730,0,2,0.0,Not rated,0,594.303797
20,3,0.000000,0.000000,0,2,0.0,Not rated,0,594.303797
21,3,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
22,3,77.325997,28.363899,0,1,3.0,Average,7,594.303797
23,3,77.328539,28.368654,0,2,3.0,Average,4,594.303797
24,3,77.336451,28.408678,0,2,3.2,Average,24,594.303797
25,3,77.342313,28.412268,0,2,2.9,Average,8,594.303797
26,3,77.336292,28.410219,0,2,3.2,Average,39,594.303797
27,3,77.293759,28.498215,0,2,2.8,Average,13,594.303797
28,3,77.293041,28.499223,0,2,3.1,Average,18,594.303797
29,1,77.078058,28.432548,0,1,0.0,Not rated,2,594.303797
...,...,...,...,...,...,...,...,...,...
7892,2,77.361828,28.569250,0,2,0.0,Not rated,3,500.000000
7893,2,77.360975,28.561503,0,2,0.0,Not rated,2,600.000000
7894,2,77.362094,28.569279,0,2,4.1,Very Good,43,500.000000
7895,2,0.000000,0.000000,0,2,3.0,Average,4,500.000000
7896,2,77.361977,28.570281,0,1,3.1,Average,10,400.000000
7897,2,77.362309,28.570602,0,2,3.2,Average,48,550.000000
7898,2,77.369364,28.578298,0,2,3.7,Good,142,600.000000
7899,2,0.000000,0.000000,0,1,0.0,Not rated,2,300.000000
7900,2,77.374547,28.581684,0,1,0.0,Not rated,1,100.000000
7901,2,0.000000,0.000000,0,2,0.0,Not rated,0,500.000000
7902,2,77.366121,28.581868,0,2,0.0,Not rated,2,550.000000
7903,2,77.362594,28.595375,0,2,2.9,Average,25,600.000000
7904,2,77.365506,28.591384,0,2,3.8,Good,200,500.000000
7905,2,77.362456,28.612791,0,2,2.4,Poor,77,500.000000
7906,2,0.000000,0.000000,0,2,0.0,Not rated,0,500.000000
7907,2,77.382379,28.564510,0,1,2.9,Average,4,400.000000
7908,2,77.381327,28.566393,0,1,3.3,Average,12,350.000000
7909,2,77.392072,28.571730,0,2,3.1,Average,6,500.000000
7910,2,77.380397,28.589199,0,1,0.0,Not rated,0,250.000000
7911,2,77.400003,28.588073,0,2,0.0,Not rated,0,500.000000
7912,2,77.334697,28.541939,0,2,0.0,Not rated,0,500.000000
7913,2,77.380418,28.571616,0,2,0.0,Not rated,3,600.000000
7914,2,77.385331,28.514600,0,1,3.4,Average,23,200.000000
7915,2,77.341371,28.586239,0,3,3.9,Good,1088,1300.000000
7916,2,77.337325,28.583579,0,2,0.0,Not rated,2,500.000000
7917,2,77.341021,28.585493,1,4,2.2,Poor,116,2500.000000
7918,2,77.364833,28.597103,0,1,3.0,Average,10,200.000000
7919,2,77.364833,28.597103,0,1,3.5,Good,105,450.000000
7920,2,77.323213,28.567751,1,3,0.0,Not rated,0,1000.000000
7921,2,77.325308,28.567150,0,1,2.0,Poor,161,450.000000

In [601]:
X.shape

(7922, 9)

In [602]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(categorical_features=[0])

In [603]:
X=ohe.fit_transform(X).toarray()

C:\Users\Nitish\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Nitish\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [604]:
X.shape

(7922, 12)

In [607]:
X=X[:,1:]

In [608]:
X.shape

(7922, 11)

In [610]:
dataX

,City,Longitude,Latitude,Has Table booking,Price range,Aggregate rating,Rating text,Votes,Cuisines
0,3,77.306640,28.490059,0,1,2.9,Average,4,375.000000
1,0,77.049525,28.806199,0,2,0.0,Not rated,0,375.000000
2,3,77.304776,28.490157,0,2,2.8,Average,16,594.303797
3,3,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
4,3,77.305698,28.471985,1,3,0.0,Not rated,0,594.303797
5,3,77.292278,28.398268,0,1,0.0,Not rated,0,594.303797
6,3,77.329161,28.375486,0,1,2.8,Average,20,594.303797
7,3,77.328898,28.377754,1,2,2.9,Average,13,594.303797
8,3,77.318483,28.371951,0,1,2.6,Average,26,594.303797
9,3,77.314446,28.381192,0,2,0.0,Not rated,0,594.303797
10,3,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
11,3,77.322930,28.395009,0,2,3.2,Average,31,594.303797
12,3,77.318577,28.410708,0,1,0.0,Not rated,0,594.303797
13,3,77.328898,28.410603,0,2,2.7,Average,56,594.303797
14,3,77.313820,28.417529,0,1,3.0,Average,6,594.303797
15,3,77.315951,28.454997,0,1,0.0,Not rated,1,594.303797
16,3,77.310500,28.480467,1,3,2.7,Average,70,594.303797
17,3,77.311397,28.480552,0,1,2.9,Average,14,594.303797
18,3,77.311487,28.480829,0,1,0.0,Not rated,0,594.303797
19,3,77.305606,28.480730,0,2,0.0,Not rated,0,594.303797
20,3,0.000000,0.000000,0,2,0.0,Not rated,0,594.303797
21,3,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
22,3,77.325997,28.363899,0,1,3.0,Average,7,594.303797
23,3,77.328539,28.368654,0,2,3.0,Average,4,594.303797
24,3,77.336451,28.408678,0,2,3.2,Average,24,594.303797
25,3,77.342313,28.412268,0,2,2.9,Average,8,594.303797
26,3,77.336292,28.410219,0,2,3.2,Average,39,594.303797
27,3,77.293759,28.498215,0,2,2.8,Average,13,594.303797
28,3,77.293041,28.499223,0,2,3.1,Average,18,594.303797
29,1,77.078058,28.432548,0,1,0.0,Not rated,2,594.303797
...,...,...,...,...,...,...,...,...,...
7892,2,77.361828,28.569250,0,2,0.0,Not rated,3,500.000000
7893,2,77.360975,28.561503,0,2,0.0,Not rated,2,600.000000
7894,2,77.362094,28.569279,0,2,4.1,Very Good,43,500.000000
7895,2,0.000000,0.000000,0,2,3.0,Average,4,500.000000
7896,2,77.361977,28.570281,0,1,3.1,Average,10,400.000000
7897,2,77.362309,28.570602,0,2,3.2,Average,48,550.000000
7898,2,77.369364,28.578298,0,2,3.7,Good,142,600.000000
7899,2,0.000000,0.000000,0,1,0.0,Not rated,2,300.000000
7900,2,77.374547,28.581684,0,1,0.0,Not rated,1,100.000000
7901,2,0.000000,0.000000,0,2,0.0,Not rated,0,500.000000
7902,2,77.366121,28.581868,0,2,0.0,Not rated,2,550.000000
7903,2,77.362594,28.595375,0,2,2.9,Average,25,600.000000
7904,2,77.365506,28.591384,0,2,3.8,Good,200,500.000000
7905,2,77.362456,28.612791,0,2,2.4,Poor,77,500.000000
7906,2,0.000000,0.000000,0,2,0.0,Not rated,0,500.000000
7907,2,77.382379,28.564510,0,1,2.9,Average,4,400.000000
7908,2,77.381327,28.566393,0,1,3.3,Average,12,350.000000
7909,2,77.392072,28.571730,0,2,3.1,Average,6,500.000000
7910,2,77.380397,28.589199,0,1,0.0,Not rated,0,250.000000
7911,2,77.400003,28.588073,0,2,0.0,Not rated,0,500.000000
7912,2,77.334697,28.541939,0,2,0.0,Not rated,0,500.000000
7913,2,77.380418,28.571616,0,2,0.0,Not rated,3,600.000000
7914,2,77.385331,28.514600,0,1,3.4,Average,23,200.000000
7915,2,77.341371,28.586239,0,3,3.9,Good,1088,1300.000000
7916,2,77.337325,28.583579,0,2,0.0,Not rated,2,500.000000
7917,2,77.341021,28.585493,1,4,2.2,Poor,116,2500.000000
7918,2,77.364833,28.597103,0,1,3.0,Average,10,200.000000
7919,2,77.364833,28.597103,0,1,3.5,Good,105,450.000000
7920,2,77.323213,28.567751,1,3,0.0,Not rated,0,1000.000000
7921,2,77.325308,28.567150,0,1,2.0,Poor,161,450.000000

In [611]:
ohe1=OneHotEncoder(categorical_features=[8])

In [612]:
X=ohe1.fit_transform(X).toarray()

C:\Users\Nitish\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Nitish\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [613]:
X.shape

(7922, 16)

In [614]:
X[0]

array([  1.       ,   0.       ,   0.       ,   0.       ,   0.       ,
         0.       ,   0.       ,   0.       ,   1.       ,  77.3066401,
        28.4900591,   0.       ,   1.       ,   2.9      ,   4.       ,
       375.       ])

In [615]:
X=np.delete(X,8,1)

In [616]:
X.shape

(7922, 15)

In [617]:
X[0]

array([  1.       ,   0.       ,   0.       ,   0.       ,   0.       ,
         0.       ,   0.       ,   0.       ,  77.3066401,  28.4900591,
         0.       ,   1.       ,   2.9      ,   4.       , 375.       ])

In [618]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [619]:
X_train.shape

(6337, 15)

In [620]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [621]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [622]:
y_pred=regressor.predict(X_test)

In [623]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8374439267978343

In [632]:
X_test[800]

array([  1.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
        77.30196454,  28.61965104,   0.        ,   1.        ,
         3.        ,   7.        , 349.57264957])

In [633]:
y_test[800]

300

In [634]:
regressor.predict(X_test[800].reshape(1,15))

array([217.11764572])

In [635]:
regressor.intercept_

-412.6863336809563

In [636]:
regressor.coef_

array([-4.01244448e+01, -6.13887593e+00, -2.57413187e+01,  8.36547695e+01,
       -1.61819796e+01,  4.53184951e+00, -3.36346960e+01, -2.22416220e+01,
        2.10616844e+00, -5.39540553e+00,  1.55180186e+02,  3.67660357e+02,
        4.11884116e+01, -2.16899656e-02,  4.87619175e-01])